@use "global" as *;

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(15) rem(19);
  max-width: rem(202);
  width: 100%;
  height: rem(54);
  color: $green-accent;
  background-color: $white;
  border: 1px solid $green-accent;
//   overflow: hidden;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}
.btn__text {
    font-size: rem(14);
    font-family: $second-font-family;
    line-height: 1.57143;
}

.btn__text + .btn__icon {
  margin-left: rem(8);
}

.btn__icon {
  position: relative;
  width: rem(40);
  height: rem(1);
  margin-top: rem(2);
  background-color: $white;
  border-radius: 1px;
}
.btn__icon::before {
  content: '';
  position: absolute;
  top: rem(1);
  left: 0;
  width: 100%;
  height: rem(10);
  border-right: 1px solid $white;
  border-radius: 0.25px;
  transform: rotate(-225deg);
  transform-origin: top right;
}
.btn.btn--slide {            /* ホバー（スライド）前の状態 */
  background-color: $green-accent;
  color: $white;
//   overflow: hidden;
  position: relative;
  z-index: 1;
}
.btn.btn--slide::after {     /* ホバー（スライド）後の状態 */
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}
.btn.btn--slide:hover {
  color: $green-accent;
}
.btn:hover .btn__icon {
  background: $green-accent;
}
.btn:hover .btn__icon::before {
  border-right: 1px solid $green-accent;
}
.btn.btn--slide:hover::after {
  transform: scale(1, 1);
}
.btn__frame {
  position: absolute;
  top: rem(3);
  left: rem(3);
  width: rem(202);
  height: rem(54);
  border: 1px solid $green-accent;
  background-color: transparent;
  z-index: -2;
}