@use "global" as *;

.campaign {
    position: relative;
    width: 100%;
    overflow: hidden;   /* 左側にはみ出させない */
}
.campaign__inner {
    width: inherit;
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(120);
    }
}
.campaign__slider {
    position: relative;
    overflow: hidden;   /* 左側にはみ出させない */
    padding: rem(24) 0;  // box-shadowを見せるための余白
    margin-right: calc(50% - 50vw); // 画面右寄せ
    @include mq(md) {
        padding: rem(40) 0;  // box-shadowを見せるための余白
    }
}

.campaign__slider-next,
.campaign__slider-prev {
    @include mq(md) {
        position: absolute;
        width: rem(80);
        height: rem(80);
        border-radius: 50%;
        z-index: 1;
    }
}

.campaign__btn {
    margin-top: rem(17);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: rem(5);
    @include mq(md) {
        margin-top: rem(39);
    }
}
