@use "global" as *;

.page-top {
    position: fixed;
    bottom: rem(16);
    right: rem(15);
    z-index: 10; /* 他の要素より前面に表示するために適切な値を設定 */
  @include mq(md) {
    bottom: rem(20);
    right: rem(20);
  }
}