@use "global" as *;


.price-content {
    position: relative;
    width: 100%;
    margin-top: rem(52);
    @include mq(md) {
        margin-top: rem(150);
    }
}
.price-content::before {
    content: "";
    position: absolute;
    top: rem(-24);
    right: calc(100% - rem(120) - $padding-sp);
    width: rem(120);
    height: rem(55);
    background-image: url("../images/common/bg-img-voice.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    @include mq(md) {
        position: absolute;
        top: rem(-70);
        right: min(calc(50% + rem(319)), calc(100% - rem(301) - $padding-pc));
        width: rem(301);
        height: rem(138);
    }
}
.price-content__inner {
    padding-bottom: rem(26);
    @include mq(md) {
      padding-bottom: 0;
    }
}
.price-content__list {
    display: grid;
    gap: rem(40);
    justify-content: center;
    @include mq(md) {
        gap: rem(80);
    }
}
