@use "global" as *;

.swiper {
  overflow: visible;
  width: 100%;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
    display: none;
    @include mq(md) {
        position: absolute;
        margin: initial;
        top: 0;
        display: flex;
        height: rem(80);
        width: rem(80);
        border-radius: 50%;
    }
}
.swiper-button-prev {
    @include mq(md) {
        top: rem(121);
        right: rem(340);
        left: auto;
    }
}
.swiper-button-next {
    @include mq(md) {
        top: rem(120);
        right: rem(180);
        left: auto;
    }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(80);
  margin: auto;
  width: rem(80);
}
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(../images/common/campaign_prev.png);
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(../images/common/campaign_next.png);
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}

.swiper-slide {
  height: auto;
}
