@use "global" as *;

.voice-content {
    position: relative;
    width: 100%;
}
.voice-content::before {
    content: "";
    position: absolute;
    top: rem(-24);
    right: min(calc(50% + rem(52)), calc(100% - rem(120) - $padding-sp));
    width: rem(120);
    height: rem(55);
    background-image: url("../images/common/bg-img-voice.png");
    background-size: contain;
    background-repeat: no-repeat;
    @include mq(md) {
        position: absolute;
        top: rem(-70);
        right: min(calc(50% + rem(319)), calc(100% - rem(301) - $padding-pc));
        width: rem(301);
        height: rem(138);
    }
}
.voice-content__inner {
    width: inherit;
    margin-top: rem(52);
    margin-bottom: rem(40);
    @include mq(md) {
        margin-top: rem(150);
        margin-bottom: rem(24);
    }
}
.voice-content__category-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(16) rem(21);
    margin-bottom: rem(40);
    @include mq(md) {
        gap: rem(32);
        margin-bottom: rem(34);
        justify-content: flex-start;
    }
}
.voice-content__category-item {
    font-size: rem(14);
    width: 46.956521739%;   // (162 / 345) * 100%  345 = 375 - 30(左右の余白)
    max-width: rem(162);
    padding: rem(5) 0;
    color: $green-accent;
    background: none;
    border: 1px solid $green-accent;
    @include mq(md) {
        font-size: rem(14);
    }
}
.voice-content__category-item--active {
    color: $white;
    background-color: $green-accent;
}

.voice-content__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(40);
    @include mq(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(80) rem(40);
        margin-left: rem(10);
        margin-right: rem(-10);
    }
}

.voice-content__item {
    width: 100%;
    @include mq(md) {

    }
}