@use "global" as *;

.voice {
    position: relative;
    width: 100%;
}
.voice::before {
    content: "";
    @include mq(md) {
        position: absolute;
        top: rem(calc(20));
        right: min(calc(50% + rem(319)), calc(100% - rem(301) - $padding-pc));
        width: rem(301);
        height: rem(138);
        background-image: url("../images/common/bg-img-voice.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.voice::after {
    content: "";
    @include mq(md) {
        position: absolute;
        bottom: rem(calc(73));
        left: min(calc(50% + rem(469)), calc(100% - rem(71) - $padding-pc));
        width: rem(71);
        height: rem(162);
        background-image: url("../images/common/bg-img-voice2.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.voice__inner {
    padding-top: rem(80);         // 左右の余白はinnerで制御
    padding-bottom: rem(80);      // 左右の余白はinnerで制御
    @include mq(md) {
        padding-top: rem(140);      // 左右の余白はinnerで制御
        padding-bottom: rem(140);   // 左右の余白はinnerで制御
    }
}

.voice__contents {
    padding-top: rem(40);
    @include mq(md) {
        padding-top: rem(30);
    }
}
.voice__btn {
    margin-top: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}